body {
  font-family: "Barlow Condensed", sans-serif;
  background-color: $gray-2;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: calc(118px + 1.7em);
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1.7em;
}

h1 {
  font-size: 2.2em;
  font-weight: bold;
  color: $gray-7;

  & i {
    font-size: 0.85em;
  }

  & span {
    margin-left: 0.4em;
  }
}

h2 {
  margin-bottom: 0.6em;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: bold;
  color: $gray-7;
}

img {
  padding: 4px;
  border: 1px solid $gray-4;
}

.button {
  display: inline-block;
  padding: 0.3em 0.8em;
  color: $white;
  background-color: $gray-7;
  border: 2px solid $gray-7;
  border-radius: $btn-radius;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  & i {
    color: $theme;
  }
  & span {
    padding-left: 0.5em;
  }
  &:hover:not(.disabled) {
    background-color: $gray-8;
    & i {
      color: $white;
    }
  }

  &.disabled {
    background-color: $gray-4;
    border-color: $gray-6;
    cursor: not-allowed;

    & i {
      color: $white;
    }
  }
}

.group-btn {
  display: flex;

  & > * {
    margin: auto 0;
    border-left-style: none;
    border-right-style: none;
    border-radius: 0;

    &:first-child {
      border-style: solid;
      border-top-left-radius: $btn-radius;
      border-bottom-left-radius: $btn-radius;
    }
    &:last-child {
      border-style: solid;
      border-top-right-radius: $btn-radius;
      border-bottom-right-radius: $btn-radius;
    }
  }
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 1.05em;
  font-weight: bold;
  color: $gray-7;
}

input,
select {
  color: $gray-8;
  border: 1px solid $gray-3;
  border-radius: 3px;
  padding: 0.4em;
}

input {
  background-image: linear-gradient(180deg, $gray-2 0%, $white 50%);

  &:disabled {
    background-image: linear-gradient(180deg, $gray-2 0%, $gray-1 50%);
  }
}

select {
  width: 300px;
  background-image: linear-gradient(180deg, $white 50%, $gray-2 100%);
}
