/* COLORS */

$theme-l1: #40b0f0;
$theme: #0092cf;
$theme-d1: #006f9d;
$theme-d2: #005383;
$theme-d3: #004765;

$gray-1: #f7f7f7;
$gray-2: #e9e9e9;
$gray-3: #c5c5c5;
$gray-4: #b1b1b1;
$gray-5: #a6a6a6;
$gray-6: #9d9d9d;
$gray-7: #666666;
$gray-8: #333333;

$white: #fff;
$black: #000;

/* BUTTON PARAMS */
$btn-radius: 4px;
$btn-border-width: 2px;
