aside {
  margin-right: 1em;
  & ul {
    & li {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 95px;
      height: 85px;
      padding: 3px;
      color: $white;
      font-size: 0.8em;
      text-transform: uppercase;
      text-align: center;
      line-height: 1.3;
      cursor: pointer;

      & i {
        display: block !important;
        font-size: 1.8em;
        margin-bottom: 3px;
      }

      &:nth-child(odd) {
        background-color: $theme-l1;
        box-shadow: inset 0 0 6px 1px $theme;
      }
      &:nth-child(even) {
        background-color: $theme;
        box-shadow: inset 0 0 6px 1px $theme-d1;
      }
      &:hover {
        background-color: rgba($color: $theme-d2, $alpha: 1);
        box-shadow: inset 0 0 6px 1px $theme-d3;
      }
    }
  }
}
