form {
  width: 100%;

  & #card {
    background-color: $white;

    & > * {
      padding: 16px;
    }

    & h1 {
      padding-left: 25px;
    }

    & #gray-box {
      background-color: $gray-3;
      box-shadow: inset 1px 5px 7px $gray-6;

      & .button {
        box-shadow: 0 0 0 4px $gray-6;
        &:hover {
          border-color: $gray-8;
        }
      }
    }

    & #panel {
      border: 1px solid $gray-4;
      border-radius: 4px;

      & > *:not(h2) {
        margin: 20px;
      }

      & > h2:nth-of-type(1) {
        margin: 0;
        padding: 8px 12px;
        color: $gray-4;
        background-color: $gray-1;
        border-bottom: 1px solid $gray-4;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }

      & #first-sect {
        display: flex;
        padding-bottom: 20px;
        border-bottom: 1px solid $gray-4;

        & img {
          height: 160px;
          width: auto;
        }

        & #user-name {
          display: flex;
          flex-wrap: wrap;
          align-items: flex-end;
          flex-direction: row;
          margin-left: 32px;
          padding: 0.4em;
          background-color: $gray-1;
          border-radius: 5px;

          & > * {
            margin: 10px;
          }
        }

        & #rom-assign {
          margin-top: 25px;
          margin-left: 48px;
        }
      }
    }
  }

  & #card-buttons {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;

    & #list-buttons,
    #form-buttons {
      display: inline-flex;
      gap: 8px;
    }
  }
}
