header {
  color: $white;
  position: fixed;
  top: 0;
  width: 100%;

  & #main-banner {
    background-color: $theme;
    background-image: linear-gradient(180deg, $theme-d2 0%, $theme 100%);
    padding: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    & #login-options {
      display: inline-flex;
      flex-direction: row;
      align-items: center;

      & a {
        margin: auto 0.8em;
        & span {
          padding-right: 0.55em;
        }
        &:hover {
          color: $black;
        }
      }
      & #info {
        color: $theme-d3;
        margin-top: -0.8em;
        &:hover {
          color: $white;
        }
      }
    }
  }

  & nav ul {
    background-color: $theme-d1;
    background-image: linear-gradient(180deg, $theme-d1 0%, $theme-d3 100%);
    padding-left: 2em;
    display: flex;
    flex-direction: row;
    border-top: 1px solid $theme-d3;
    border-bottom: 1px solid $theme-d3;

    & li {
      padding: 0.6em 1em;
      cursor: pointer;
      border-right: 1px solid $theme;
      box-shadow: 2px 0px 0 $theme-d3;
      & span {
        padding-left: 0.55em;
      }
      & i {
        font-size: 0.7em;
      }
      &:hover {
        background-color: $theme;
        background-image: linear-gradient(180deg, $theme 0%, $theme-d1 100%);
      }
    }
  }
  & nav ul:before {
    content: "";
    border-right: 1px solid $theme;
    box-shadow: 2px 0px 0 $theme-d3;
  }
}
